<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zryx.company.mapper.RevertMapper">
    <select id="getRevertByMesId" resultType="com.zryx.company.model.Revert">
        SELECT * FROM revert WHERE messageId = #{messageId} ORDER BY writeDate
    </select>
    <insert id="addRevert" parameterType="com.zryx.company.model.Revert">
        INSERT INTO revert VALUE(0,#{messageId} ,#{content} ,#{writer} ,#{writeDate})
    </insert>
    <!--<delete id="delRevert">-->

    <!--</delete>-->
</mapper>